---
http_interactions:
- request:
    method: post
    uri: http://<SSTK_API_USERNAME>:<SSTK_API_KEY>@api.shutterstock.com/auth/customer.json
    body:
      encoding: US-ASCII
      string: username=<SSTK_USERNAME>&password=<SSTK_PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Shutterstock-Data:
      - IyMjAAAjI15eRU5EXl4=
      X-Shutterstock-Remote-User:
      - <SSTK_API_USERNAME>
    body:
      encoding: US-ASCII
      string: ! '{"language":"en","auth_token":"170cfc5a51b7e7d0369eec34345d7680ec62b745","username":"<SSTK_USERNAME>"}'
  recorded_at: Thu, 20 Feb 2014 04:48:32 GMT
- request:
    method: get
    uri: http://<SSTK_API_USERNAME>:<SSTK_API_KEY>@api.shutterstock.com/images/search.json?auth_token=170cfc5a51b7e7d0369eec34345d7680ec62b745&searchterm=purple%20cat
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Shutterstock-Data:
      - IyMjAAAjI15eRU5EXl4=
      X-Shutterstock-Remote-User:
      - <SSTK_API_USERNAME>
    body:
      encoding: US-ASCII
      string: ! '{"count":"2958","page":"0","sort_method":"popular","searchSrcID":"","results":[{"thumb_large_width":"150","resource_url":"http://api.shutterstock.com/images/158763146","web_url":"http://www.shutterstock.com/pic.mhtml?id=158763146","vector_ext":"eps","thumb_small":{"width":100,"url":"http://thumb9.shutterstock.com/photos/thumb_small/1889819/158763146.jpg","img":"http://thumb9.shutterstock.com/photos/thumb_small/1889819/158763146.jpg","height":100},"photo_id":"158763146","thumb_small_height":"100","description":"purple
        cats","thumb_large_height":"150","preview":{"width":"450","url":"http://thumb9.shutterstock.com/photos/display_pic_with_logo/1889819/158763146.jpg","height":"450"},"thumb_large":{"width":150,"url":"http://thumb9.shutterstock.com/photos/thumb_large/1889819/158763146.jpg","height":150},"thumb_small_width":"100"},{"thumb_large_width":"150","resource_url":"http://api.shutterstock.com/images/156605567","web_url":"http://www.shutterstock.com/pic.mhtml?id=156605567","vector_ext":"eps","thumb_small":{"width":100,"url":"http://thumb10.shutterstock.com/photos/thumb_small/309658/156605567.jpg","img":"http://thumb10.shutterstock.com/photos/thumb_small/309658/156605567.jpg","height":100},"photo_id":"156605567","thumb_small_height":"100","description":"halloween
        black cat card in...","thumb_large_hei[...]
