---
http_interactions:
- request:
    method: post
    uri: http://<SSTK_API_USERNAME>:<SSTK_API_KEY>@api.shutterstock.com/auth/customer.json
    body:
      encoding: US-ASCII
      string: username=<SSTK_USERNAME>&password=<SSTK_PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Shutterstock-Data:
      - IyMjAAAjI15eRU5EXl4=
      X-Shutterstock-Remote-User:
      - <SSTK_API_USERNAME>
    body:
      encoding: US-ASCII
      string: ! '{"language":"en","auth_token":"e13eaa94bcc5aa5b0475cb6590cd962777d1d7a6","username":"<SSTK_USERNAME>"}'
  recorded_at: Thu, 20 Feb 2014 04:48:32 GMT
- request:
    method: get
    uri: http://<SSTK_API_USERNAME>:<SSTK_API_KEY>@api.shutterstock.com/images/118139110.json?auth_token=e13eaa94bcc5aa5b0475cb6590cd962777d1d7a6
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Shutterstock-Data:
      - IyMjAAAjI15eRU5EXl4=
      X-Shutterstock-Remote-User:
      - <SSTK_API_USERNAME>
    body:
      encoding: US-ASCII
      string: ! '{"illustration":0,"r_rated":"0","photo_id":"118139110","enhanced_license_available":"1","resource_url":"http://api.shutterstock.com/images/118139110","categories":[{"category_id":"1","category":"Animals/Wildlife"},{"category_id":"20","category":"NOT-CATEGORIZED"}],"model_release":{"translation_id":"N_A","code":"0"},"vector_type":null,"description":"Adorable
        Labrador Puppy Playing with a Chew Toy on White Backdrop","sizes":{"small":{"width":"500","file_size_kb":"86","height":"334","display_name":"Small"},"preview":{"url":"http://thumb1.shutterstock.com/photos/display_pic_with_logo/1306729/118139110.jpg"},"supersize":{"file_size_kb":"9876"},"medium":{"width":"1000","file_size_kb":"294","height":"667","display_name":"Medium"},"thumb_large":{"width":"150","url":"http://thumb1.shutterstock.com/photos/thumb_large/1306729/118139110.jpg","height":"100"},"thumb_small":{"width":"100","url":"http://thumb1.shutterstock.com/photos/thumb_small/1306729/118139110.jpg","img":"http://thumb1.shutterstock.com/photos/thumb_small/1306729/118139110.jpg","height":"67"},"huge":{"width":"4635","file_size_kb":"2725","height":"3090","display_name":"Large"}},"keywords":["animal","animal
        themes","backgrounds","cute","dog","domestic animals","friendship","full length","isolated","labrador","labrador
        retriever","one animal","pets","play","puppy","purebred dog","studio shot","toy","yellow","young
        animal"],"is_vector":0,"web_url":"http://www.shutterstock.com/pic.mhtml?id=118139110","submitter_id":"1306729","submitter":"Claire
        McAdams"}'
  recorded_at: Thu, 20 Feb 2014 04:48:32 GMT
- request:
    method: get
    uri: http://<SSTK_API_USERNAME>:<SSTK_API_KEY>@api.shutterstock.com/images/118139110/similar.json?auth_token=e13eaa94bcc5aa5b0475cb6590cd962777d1d7a6
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Shutterstock-Data:
      - IyMjAAAjI15eRU5EXl4=
      X-Shutterstock-Remote-User:
      - <SSTK_API_USERNAME>
    body:
      encoding: US-ASCII
      string: ! '{"count":"332","page":"0","sort_method":"popular","searchSrcID":"","results":[{"thumb_large_width":"130","resource_url":"http://api.shutterstock.com/images/107940284","web_url":"http://www.shutterstock.com/pic.mhtml?id=107940284","vector_ext":null,"thumb_small":{"width":86,"url":"http://thumb1.shutterstock.com/photos/thumb_small/64885/107940284.jpg","img":"http://thumb1.shutterstock.com/photos/thumb_small/64885/107940284.jpg","height":100},"photo_id":"107940284","thumb_small_height":"100","description":"beautiful
        labrador retriever...","thumb_large_height":"150","preview":{"width":"388","url":"http://thumb1.shutterstock.com/photos/display_pic_with_logo/64885/107940284.jpg","height":"450"},"thumb_large":{"width":129,"url":"http://thumb1.shutterstock.com/photos/thumb_large/64885/107940284.jpg","height":150},"thumb_small_width":"86"},{"thumb_large_width":"146","resource_url":"http://api.shutterstock.com/images/92530966","web_url":"http://www.shutterstock.com/pic.mhtml?id=92530966","vector_ext":null,"thumb_small":{"width":97,"url":"http://thumb7.shutterstock.com/photos/thumb_small/51333/51333,1326330106,1.jpg","img":"http://thumb7.shutterstock.com/photos/thumb_small/51333/51333,1326330106,1.jpg","height":100},"photo_id":"92530966","thumb_small_height":"100","description":"valentine
        puppies in a pink...","thumb_l[...]
